
/****  图片关键帧   ****/
@keyframes pic_1 { 
	0% { opacity: 0;}
	5% { opacity: 1;}
	20% { opacity: 1;}
	25% { opacity: 0;}
	100% { opacity: 0;}
}

@keyframes pic_2 { 
	0% { opacity: 0;}
	20% { opacity: 0;}
	25% { opacity: 1;}
	40% { opacity: 1;}
	45% { opacity: 0;}
	100% { opacity: 0;}
}

@keyframes pic_3 { 
	0% { opacity: 0;}
	40% { opacity: 0;}
	45% { opacity: 1;}
	60% { opacity: 1;}
	65% { opacity: 0;}
	100% { opacity: 0;}

}

@keyframes pic_4 { 
	0% { opacity: 0;}
	60% { opacity: 0;}
	65% { opacity: 1;}
	80% { opacity: 1;}
	85% { opacity: 0;}
	100% { opacity: 0;}
}

@keyframes pic_5 { 
	5% { opacity: 0;}
	80% { opacity: 0;}
	85% { opacity: 1;}
	100% { opacity: 1;}
}


@-webkit-keyframes pic_1 { 
	0% { opacity: 0;}
	5% { opacity: 1;}
	20% { opacity: 1;}
	25% { opacity: 0;}
	100% { opacity: 0;}
}

@-webkit-keyframes pic_2 { 
	0% { opacity: 0;}
	20% { opacity: 0;}
	25% { opacity: 1;}
	40% { opacity: 1;}
	45% { opacity: 0;}
	100% { opacity: 0;}
}

@-webkit-keyframes pic_3 { 
	0% { opacity: 0;}
	40% { opacity: 0;}
	45% { opacity: 1;}
	60% { opacity: 1;}
	65% { opacity: 0;}
	100% { opacity: 0;}

}

@-webkit-keyframes pic_4 { 
	0% { opacity: 0;}
	60% { opacity: 0;}
	65% { opacity: 1;}
	80% { opacity: 1;}
	85% { opacity: 0;}
	100% { opacity: 0;}
}

@-webkit-keyframes pic_5 { 
	5% { opacity: 0;}
	80% { opacity: 0;}
	85% { opacity: 1;}
	100% { opacity: 1;}
}



@-moz-keyframes pic_1 { 
	0% { opacity: 0;}
	5% { opacity: 1;}
	20% { opacity: 1;}
	25% { opacity: 0;}
	100% { opacity: 0;}
}

@-moz-keyframes pic_2 { 
	0% { opacity: 0;}
	20% { opacity: 0;}
	25% { opacity: 1;}
	40% { opacity: 1;}
	45% { opacity: 0;}
	100% { opacity: 0;}
}

@-moz-keyframes pic_3 { 
	0% { opacity: 0;}
	40% { opacity: 0;}
	45% { opacity: 1;}
	60% { opacity: 1;}
	65% { opacity: 0;}
	100% { opacity: 0;}

}

@-moz-keyframes pic_4 { 
	0% { opacity: 0;}
	60% { opacity: 0;}
	65% { opacity: 1;}
	80% { opacity: 1;}
	85% { opacity: 0;}
	100% { opacity: 0;}
}

@-moz-keyframes pic_5 { 
	5% { opacity: 0;}
	80% { opacity: 0;}
	85% { opacity: 1;}
	100% { opacity: 1;}
}


@-o-keyframes pic_1 { 
	0% { opacity: 0;}
	5% { opacity: 1;}
	20% { opacity: 1;}
	25% { opacity: 0;}
	100% { opacity: 0;}
}

@-o-keyframes pic_2 { 
	0% { opacity: 0;}
	20% { opacity: 0;}
	25% { opacity: 1;}
	40% { opacity: 1;}
	45% { opacity: 0;}
	100% { opacity: 0;}
}

@-o-keyframes pic_3 { 
	0% { opacity: 0;}
	40% { opacity: 0;}
	45% { opacity: 1;}
	60% { opacity: 1;}
	65% { opacity: 0;}
	100% { opacity: 0;}

}

@-o-keyframes pic_4 { 
	0% { opacity: 0;}
	60% { opacity: 0;}
	65% { opacity: 1;}
	80% { opacity: 1;}
	85% { opacity: 0;}
	100% { opacity: 0;}
}

@-o-keyframes pic_5 { 
	5% { opacity: 0;}
	80% { opacity: 0;}
	85% { opacity: 1;}
	100% { opacity: 1;}
}




/****  轮播暂停   ****/

#slide: hover li { 
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
}

/****  轮播开始   ****/

#first { 
	-webkit-animation: pic_1 24s infinite;
	-moz-animation: pic_1 24s infinite;
}
#second { 
	-webkit-animation: pic_2 24s infinite;
	-moz-animation: pic_2 24s infinite;
}
#third{ 
	-webkit-animation: pic_3 24s infinite;
	-moz-animation: pic_3 24s infinite;
}
#fourth{ 
	-webkit-animation: pic_4 24s infinite;
	-moz-animation: pic_4 24s infinite;
}
#fifth{
	-webkit-animation: pic_5 24s infinite;
	-moz-animation: pic_5 24s infinite;
}
