* {
    color: #3f3f3f;
    text-align: justify;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

html {
    background: #F3F8FD;
    width:720px;
}

body {
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

a {
    text-decoration: none;
}


div.list {
    width: 100%;
    padding-top: 30px;
}

.list h2{
	text-align: center;
}

h2.title {
    padding: 10px 0 10px 10px;
    font-size: 20px;
}

img.cover {
    max-width: 100%;
}



time {
    /*这里加一个日历的图标*/
    padding-left: 10px;
}

div.summary {
    margin-left: 50px;
}

.summary li {
    padding: 2px 0;
}

.all {
    margin: 10px 0 10px 20px;
    background: #aaa;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}


.all a {
    color: #44d;
}
